.breadcrumb{
    font-size: 24px;
}

.ant-btn.ant-btn-primary{
    background-color: #3598dc;
    border-color: #3598dc;
}

.content-wrapper > div:first-child{
    width: 80px;
    display: inline-block;
    margin-right: 0!important;
    padding: 0!important;
    margin-bottom: 10px!important;
}